/***********************************************************************
Update the version in the path below to the version being used
***********************************************************************/
@import '../../../node_modules/@ons/design-system/scss/vars/_index.scss';
@import '../../../node_modules/@ons/design-system/scss/helpers/_index.scss';
@import '../../../node_modules/@ons/design-system/scss/utilities/_index.scss';

/***********************************************************************
Do not remove. Required for dynamic generation of survey summary page
***********************************************************************/

.js-summary {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
/***********************************************************************/
/***********************************************************************/



.ons-hero--grey {
  margin-bottom: 48px!important;
}

/* change colour of h2 page context label */
.ons-hero--topic {
  color: var(--ons-color-grey-75);
}

/* SCROLLBAR for leftcol ToC --------------------------------------- */

.toc-scroll {
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
  padding-right: 1.25rem;
}

.ons-list--toc {
  padding-left: 2rem;
}


/* MAIN BODY CONTENT --------------------------------------- */

/* Kas method to get the readable/accessible text blocks 13-14 words per line ---------- */
.ons-text-container {
    max-width: 632px;
    // width: 100%;
}

/* best-practice helper for prototype links that we don't want users to actually click on ---------- */
.ons-link--disabled {
  pointer-events: none;
  cursor: default;
}

/* FIGURE component - from Kas CSS ---------- */
@media (min-width: 40em) {
    .ons-chartbox {
        padding: 24px;
    }
}
.ons-chartbox {
    background-color: #fff;
    border: 1px solid #bcbcbd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 32px;
    max-width: 856px;
    padding: 24px;
}





/* FOOTER --------------------------------------- */

hr.ons-footer__hr {
  border-top: 1px solid var(--ons-color-grey-35);
}

/* Base: mobile/tablet stacked */
.sub-footer {
  display: block;
  margin-top: 2rem;
}

.sub-footer__left,
.sub-footer__right {
  width: 100%;
}

p.ogl-text {
  margin-top: 1rem;
}

/* Desktop: side-by-side */
@media (min-width: 1024px) {
  .sub-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

  .sub-footer__left {
    width: 50%;
  }

  .sub-footer__right {
    width: 50%;
    text-align: right;
  }
}


